<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
    <style>
        .text {
            text-align:  center;
            font-size: 50px;
        }
        .heart {
            color: #ba9dcb;
        }
        .top {
            margin-top: 20%;
        }
    </style>
</head>
<body>
    <h1 class = "text top">{{ name }}!</h1>
    <h2 class = "text">Ты чудо уже {{ time_passed }} дней!</h2>
    <h1 class = "heart text">&#10084;</h2>
</body>
</html>